.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}