.find-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}

.find-id__title {
    margin-bottom: 10px;
    font-size: 20px;
}

.find-id__button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.find-id__button[disabled] {
    cursor: not-allowed;
    background-color: #374051;
}

.find-id__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.find-id__label {
    margin-bottom: 5px;
    font-weight: bold;
}

.find-id__input {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.find-id__found-id {
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}
