.findId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width:100%;
    max-width: 600px;
    padding:10px;
    margin:10px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}

.findId h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.findId button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.findId button[disabled] {
    cursor: not-allowed;
    background-color: #ccc;
}

.findIdForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.findIdForm label{
    margin-bottom: 5px;
    font-weight: bold;
}

.findIdForm input {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.foundId {
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}