.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__form-group {
    margin-bottom: 15px;
}

.login__form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.login__form-group input {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.login__button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login__button {
    padding: 12px;
    font-size: 14px;
    color: white;
    background-color: #1F1122;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
    margin: 0 5px;
}

.login__button:hover {
    background-color: #374051;
}
