/*페이지 전체*/
.mypageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: auto;
    max-width: 600px;
    height: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px auto;
}
/*자기소개*/
.introductionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.introductionContainer label{
    display: block;
    align-items: center;
    margin-bottom: 1px;
}

.introductionContainer input {
    font-size: 12px;
    margin-bottom: 1px;
}

.introductionContainer button {
    margin-top:10px;
    margin-left: 10px;
    white-space: nowrap;
}

/*자기소개 입력창*/
.introductionInput{
    display: flex;
    align-items: center;
}

.introductionInput input{
    font-size:12px;
    margin-top:10px;
    height:20px;
    width: 400px;
    max-width: 500px;
}

.introductionInput button {
    padding: 10px;
    margin-left: 10px;
    height: 40px;
    white-space: nowrap;
}
/*이메일*/
.emailContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.emailContainer label{
    display: block;
    align-items: center;
    margin-bottom: 1px;
}

.emailInput {
    display: flex;
    align-items: center;
}

.emailInput input {
    font-size: 12px;
    margin-top: 10px;
    height: 20px;
    width: 400px;
}

.emailInput button {
    padding: 10px;
    margin-left: 10px;
}

/*매너점수*/
.mannerScore{
    width:100%;
    max-width: 500px;
    margin: 5px 0;
}

.mannerFigure{
    width:100%;
    height: 30px;
    background-color: #f3f3f3; /*안쪽 색깔*/
    border: 2px dotted;
    border-radius: 5px;
    overflow:hidden;
}

.mannerFill{
    height: 100%;
    background-color: #fefd48; /*바깥쪽 색깔*/
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size:16px;
    border: 1px dotted;

}

/*해쉬태그*/
.hashtagContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
}
.hashtagContainer label {
    display: block;
    align-items: center;
}

.hashtagInput {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 500px;
    gap:10px;
}
.hashtagInput input {
    padding: 10px;
    height: 20px;

}
.hashtagContainer button {
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap;
    height: 40px;
}

.hashtagLabel{
    display: block;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap:10px;
}
.buttonContainer button {
    padding: 10px 10px;
    font-size: 12px;
    white-space: nowrap;
}
