.manage-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manage-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.participant-list {
    list-style-type: none;
    padding: 0;
}

.participant-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.participant-item label {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.participant-item input {
    margin-right: 10px;
}

.remove-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.remove-button:hover {
    background-color: #FF4500;
}
