.post-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea,
.date-picker {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group .date-picker {
    padding: 8px 10px;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    width: 20% !important; /* 필요한 경우 너비 조정 */
    height: 50px !important; /* 높이를 동일하게 설정 */
    line-height: 30px !important;
    background-color: #5bc0de !important;
    color: #fff !important;
    margin-right: auto !important; /* 오른쪽 끝에 배치 */
}

.cancel-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    width: 20% !important; /* 필요한 경우 너비 조정 */
    height: 50px !important; /* 높이를 동일하게 설정 */
    line-height: 30px !important;
    background-color: #d9534f !important;
    color: #fff !important;
    margin-left: auto !important; /* 왼쪽 끝에 배치 */
}

.submit-button:hover,
.cancel-button:hover {
    opacity: 0.8 !important;
}
