.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F4F4F9;
    color: black;
}

.search__empty {
    margin: 20px;
    color: gray;
}

.search__posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 700px;
}

.search__post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search__post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search__post-default {
    width: 30%;
    max-width: 300px;
    height: auto;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search__post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.search__post-id,
.search__post-title,
.search__post-contents {
    margin: 5px 0;
}
