body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="date"] {
    width: calc(20%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

select{
    width: calc(20%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(80%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #2659e7;
    outline: none;
    box-shadow: 0 0 0 2px rgba(38, 89, 231, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2659e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
    margin-right: 10px;
}

button:hover {
    background-color: #0036b3;
}

button[type="button"] {
    background-color: #777;
}

button[type="button"]:hover {
    background-color: #555;

}
.available {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

.unavailable {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}