.search-bar {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

.search-bar__input {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.search-bar__input:focus {
    border-color: #374999;
}

.search-bar__button {
    padding: 0 20px;
    border: 1px solid #374999;
    background-color: #374999;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    white-space: nowrap;
}